{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- book -->
    <div class="">
        <nav aria-label="breadcrumb fs-5">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active fs-4" aria-current="page">{{book.name}}</li>
            </ol>
        </nav>
    </div>
    <div class="container text-end">
        <a href="{% url 'word:day_create' book.id%}" class="btn btn-primary">Day 등록하기</a>
        <a href="{% url 'word:test_index' book.id %}" class="btn btn-primary">시험보기</a>
    </div>
    <div class="container mb-3">
        <table id="sortTable" class="form-label table table-striped table-bordered text-center order-column">
            <thead>
                <tr>
                    <th width="70%">Day</th>
                    <th width="15%">수정</th>
                    <th width="15%">삭제</th>
                </tr>
            </thead>
            <tbody>
            {%if book.day_set %}
            {% for day in book.day_set.all %}
                <tr>
                    <td><a href="{% url 'word:day_detail' day.id%}">{{ day.name }}</a></td>
                    <td>
                        <a href="#" class="alert_btn btn btn-sm btn-outline-secondary"
                           data-type="modify" data-uri="{% url 'word:day_modify' day.id  %}">수정</a>
                    </td>
                    <td>
                        <a href="#" class="alert_btn btn btn-sm btn-outline-secondary"
                           data-type="delete" data-uri="{% url 'word:day_delete' day.id  %}">삭제</a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <td colspan="3">Day가 등록되지 않았습니다.</td>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function() {
    $('#sortTable').DataTable({
        'paging': false,
        'lengthChange': false
    });
} );

const alert_elements = document.getElementsByClassName("alert_btn");
Array.from(alert_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        comment =""
        if (this.dataset.type == 'modify') {
            comment = "수정"
        } else {
            comment = "삭제"
        }
        if(confirm("정말로 "+comment+"하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
{% endblock %}