{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- book -->
    <h2 id="book_name" class="border-bottom col">{{book.name}}</h2>
    <a href="{% url 'word:day_create' book.id%}" class="btn btn-primary">Day 등록하기</a>
    <a href="{% url 'word:test_index' book.id %}" class="btn btn-primary">시험보기</a>
    {%if book.day_set %}
    {% for day in book.day_set.all %}
    <a id="word_{{word.id}}"></a>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text form-group row">
                <a class="col" href="{% url 'word:day_detail' day.id%}">{{ day.name }}</a>
                <a href="#" class="alert btn btn-sm btn-outline-secondary col-2"
                   data-type="modify" data-uri="{% url 'word:day_modify' day.id  %}">수정</a>
                <a href="#" class="alert btn btn-sm btn-outline-secondary col-2"
                   data-type="delete" data-uri="{% url 'word:day_delete' day.id  %}">삭제</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h6 class="border-bottom my-3 py-2">Day가 등록되지 않았습니다.</h6>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const alert_elements = document.getElementsByClassName("alert");
Array.from(alert_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        comment =""
        if (this.dataset.type == 'modify') {
            comment = "수정"
        } else {
            comment = "삭제"
        }
        if(confirm("정말로 "+comment+"하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}