{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-5" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- 시험 -->
    <h2> 시험 보기 </h2>
    <div class="alert alert-secondary">
        {% for day in day_list %}
        <span class="badge rounded-pill bg-secondary fs-6 text me-2">{{day.book.name}} > {{day.name}}</span>
        {% endfor%}
    </div>


    <form id="form" method="post" action="{% url 'word:english_blank_check'%}">
        {% csrf_token %}
        <input id="words" type="hidden" name="words" />
        <input id="answers" type="hidden" name="answers" />
        <table>
            <tr>
                <th>영어</th>
                <th class="ms-2">한글</th>
            </tr>
        {% for word in word_list %}
            <tr class="test_field">
                <td>
                    <input type="hidden" name="question" value="{{word.id}}" />
                    <input type="text" name="answer" class="form-control" placeholder="영어로 적으세요." />
                </td>
                <td>{{word.korean}}</td>
            </tr>
        {% endfor %}
        </table>
        <button type="button" onclick="answer_check()">정답 제출</button>
    <h1 id="point"></h1>
    </form>
{% endblock %}
{% block script %}
<script type='text/javascript'>

function answer_check(){
    words = ""
    answers = ""
    $('.test_field input[name="question"]').each(function (index, item) {
        words += $(this).val() +",";
        answers += $(this).next().val() +",";
    });
    $("#words").val(words);
    $("#answers").val(answers);
    $("#form").submit();
}
</script>
{% endblock %}