{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- test -->
    <div class="">
        <nav aria-label="breadcrumb fs-5">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active fs-4" aria-current="page">{{all_or_my}}시험결과 리스트</li>
            </ol>
        </nav>
    </div>

    <div class="container mb-3">
        <table class="form-label table align-middle table-striped table-bordered text-center order-column">
            <thead>
                <tr>
                    <th width="15%">번호</th>
                    <th width="15%">점수</th>
                    <th width="30%">날짜</th>
                    <th width="40%">비고</th>
                </tr>
            </thead>
            <tbody style="text">
            {%if tests.count %}
            {% for test in tests %}
                <tr>
                    <td>{{tests.count|sub:forloop.counter0}}</td>
                    <td>{{test.score}}</td>
                    <td>
                        <a href="{% url 'word:english_blank_check' test.id%}">
                            {{test.create_date|date:"Y-m-d H:i"}}<br>
                            {{test.end_date|date:"Y-m-d H:i"}}
                        </a>
                    </td>
                    <td><a href="{% url 'word:english_blank_check' test.id%}">{{test.comment}}</a></td>
                </tr>
            {% endfor %}
            {% else %}
                <tr><td colspan="4">아직 시험을 보지 않았습니다.</td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
{% endblock %}