textarea {
    width:100%
}

input[type=submit] {
    margin-top : 10px
}

.display_none {
    display:none;
}

a {
    text-decoration:none;
}
$breadcrumb-font-size:              1.5rem
$breadcrumb-divider:                quote(">");;